extends template
block content
    div
        | Hello. Please confirm password change. 👇
        br
        form(action=`${activateUrl}` method="POST")
            button(type="submit" class='btn' ) Click here to approve.
